body {
    background-color: #585648;
    color: white;
    font-family: Arial;
}

img {
    width: 300px;
}


span {
    color: #ffffbd;
}

a {
    color: #d35d5b;
    text-decoration: none;
}

h1 {
    color: #9cc1f8;
    font-weight: 600;
}

h2 {
    color: #9cc1f8;
    font-weight: 100;
}

.sub-title {
    transform: rotateX(180deg);
}

.sub-title::first-letter {
    font-size: 1.5em;
}

.main-title {
    color: #9cc1f8;
    font-size: 50px;
}

.fun-fact-span {
    font-style: italic;
    color: white;
}

.moods {
    display: flex;
    align-items: end;
}

.mood-text {
    margin: 0;
}

.valid-img {
    width: 60px;
}

.movie-column {
    display: flex;
    flex-direction: column-reverse;
}

.movie-column li dl {
    margin: 0;
}

.movie-column li dl dt {
    color: #ffffbd;
}

.movie-column li dl dd span a {
    color: #d35d5b;
}