body {
    background-color: #585648;
    color: white;
    font-family: Arial;
}

img {
    width: 300px;
}


span {
    color: #ffffbd;
}

a {
    color: #d35d5b;
    text-decoration: none;
}

h1 {
    color: #9cc1f8;
    font-weight: 600;
}

h2 {
   color: #9cc1f8;
   font-weight: 100;
}

p::first-letter {
    font-size: 1.5em;
}


.main-title {
    color: #9cc1f8;
    font-size: 50px;
}

.fun-fact-span {
    font-style: italic;
    color: white;
}

.moods {
    display: flex;
    align-items: end;
}

.mood-text {
    margin: 0;
}

.mood-text::first-letter {
    float: none;
    font-size: 1em;
}

.valid-img {
    width: 60px;
}